@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

:root {
  --soft-violet: #8672cf;
  --dark-violet: #26184b;
  --whitey: #eaeaea;
  --soft-lilac: #bcb1e4;
  --medium-violet: #442b88;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  text-align: center;
  background: radial-gradient(circle 1920px at center, var(--soft-violet), var(--medium-violet));
  color: var(--whitey);
  margin-bottom: 2rem;
  max-width: 100vw;
}

.menu {
  background: var(--dark-violet);
  display: flex;
  justify-content: center;
  font-size: 25px;
  width: 100%;
  height: 50px;
  position: fixed;
  align-items: center;
  box-shadow: 0 0px 10px 3px var(--dark-violet);
}
.menu ul{
  max-width: 80%;
  justify-content: space-between;
  box-shadow: unset;
}
.menu a {
  font-family: "Madimi One", system-ui, -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  padding: 5px 0px 0px 10px;
  font-style: italic;
}
.menu a:hover {
  color: var(--soft-lilac);
}

.heading {
  font-family: "Madimi One", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--dark-violet);
  font-style: italic;
  text-align: center;
}

h1,
h2 {
  font-size: 60px;
  padding: 65px 0 40px 0;
  text-shadow: 0 0 3px var(--dark-violet);
}

p {
  font-weight: 550;
  line-height: 1.3;
  text-shadow: 0 0 2px 6px var(--dark-violet);
}

.sobre{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.conteudo {
  align-items: center;
  display: flex;
  min-width: 1000px;
  width: 60%;
  gap: 2em;
}
@media screen and (max-width:900px){
  .conteudo{
    max-width: 600px;
    min-width: 400px;
    flex-direction: column;
  }

  img{
    max-width: 300px;
    height:fit-content;
    width: fit-content;
  }

  iframe{
    max-width: 300px;
    height:fit-content;
    width: fit-content;
  }
  .formulario{
    padding: 0 15px;
    max-width: 60%;
  }
  #assunto {
    max-width: 40%;
  }
  .form {
    display: flex;
    flex-direction:column;
  }
  
}

.paragrafos {
  display: flex;
  flex-direction: column;
  text-align: left;
}

#icone {
  padding: 5px;
  border: 10px dotted var(--dark-violet);
  border-radius: 100%;
}

img {
  object-fit: cover;
}

iframe {
  border: 5px dashed var(--dark-violet);
  border-radius: 15px;
  object-fit: cover;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulario {
  border: 5px dotted var(--whitey);
  background: linear-gradient(var(--dark-violet), var(--medium-violet));
  padding: 15px 40px;
  border-radius: 12px;
  display: inline-flexbox;
}

#formAssunto {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

#nome,
#email,
#assunto {
  border: 3px solid var(--soft-lilac);
  border-radius: 6px;
  margin-bottom: 10px;
}

button:hover {
  background-color: var(--soft-lilac);
  color: var(var(--medium-violet));
  cursor: pointer;
}


#endereco {
  font-size: 20px;
  padding-top: 20px;
}

.curriculo {
  display: flex;
  text-align: left;
  width: 70%;
  margin: 0 auto;
}


.curriculo ul li {
  list-style: initial;
  margin: 0 0 0 15px;
}

.curriculo ul ul li {
  list-style: square;
  margin: 0 0 0 15px;
}

.curriculo h2 {
  padding: 65px 0 0;
}

.curriculo h3 {
  font-size: 30px;
  padding: 25px 0 0;
}

.curriculo h4 {
  font-size: 20px;
  color: var(--dark-violet);
  padding: 15px 0 0 0;
}

#resumo{
  padding: 10px 0 0 0;
}

.projetos {
  display: flex;
  align-items:baseline;
  font-style: italic;
  justify-content: space-between;
  margin-top: 10px;
  padding: 10px 0 0 0;
}

.repositorio {
  text-decoration: none;
  color: #ffffff;
  text-align: right;
  font-style: italic;
  padding: 4px;
  border: 2px dashed #ffffff;
  background-color: var(--medium-violet);
  border-radius: 10%;
  margin-bottom: 10px;
}

span {
  color: var(--dark-violet);
}

.certificacao {
  color: var(--dark-violet);
}

.simbolos{
  white-space: nowrap; 
}

.imagens {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.galeria {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

@media (max-width:900px) {
  .imagens {
      display: grid;
      grid-template-columns: repeat(2, auto);
      /* Ajusta a tabela */
      grid-template-rows: repeat(2, auto);
  }
}

.imagens .cartao {
  /* Faz com que as descrições consigam se mexer junto com a imagem*/
  position: relative;

  width: 200px;
  height: auto;

  /* Faz com que as imagens não deem overlap*/
  overflow: hidden;

  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  border: 5px dashed var(--dark-violet);
}

.imagens .cartao img {
  /* Garante que a imagem ocupe todo o espaço disponível no cartão */
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center; /* Centraliza a imagem */
}

.imagens .cartao .descricoes {
  /* Faz com que a caixa fique presa ao cartão */
  position: absolute; 

   /* Coloca a posição inicial da caixa que vai subir */
  bottom: -170px;

  width: 100%;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px); /* Faz o blur propriamente dito */
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: bottom 0.5s;
  transition-delay: 0.8s;
}

.imagens .cartao:hover .descricoes {
  /* O tanto que a descrição vai subir*/
  bottom: -40px; 
  transition-delay: 0s;
}

.imagens .cartao .descricoes .descricao h3 {
  color: var(--dark-violet);
  text-transform:uppercase;
  font-size: 18px;
  text-align: center;
  margin: 5px 0 15px;
  transform: translateY(-20px);
}

.imagens .cartao:hover .descricoes .descricao h3 {
  opacity: 1;
}

.imagens .cartao .descricoes .descricao h3 span {
  font-size: 12px;
  text-transform:uppercase;
}